# Directories to be ignored.

# .idea
.idea

# asc_to_csv
asc_to_csv/example/csv
asc_to_csv/example/pdf
asc_to_csv/example/png
asc_to_csv/example/svg

# cgr_Ni_fcc_tethole
cgr_stackplot/example/cgr/
cgr_stackplot/example/pdf/
cgr_stackplot/example/pdfgui/
cgr_stackplot/example/png/
cgr_stackplot/example/svg/

# cif_cgr_calculate_diffpy
cif_cgr_calculate_diffpy/example/cgr/
cif_cgr_calculate_diffpy/example/pdf/
cif_cgr_calculate_diffpy/example/png/

# cif_pxrd_calculate
cif_pxrd_calculate/example/pdf
cif_pxrd_calculate/example/png
cif_pxrd_calculate/example/txt

# csv_1d_to_2d
csv_1d_to_2d/example/SeqRR_results_NE/
csv_1d_to_2d/example/delimiter_fix/

# DanMAX_h5_tif_extract
DanMAX_h5_tif_extract/example/N1_BP_NVPC_p3/tif

# diffpy-cmi_fit_res_stackplot
diffpy-cmi_fit_res_stackplot/example/1x1/pdf
diffpy-cmi_fit_res_stackplot/example/1x1/png
diffpy-cmi_fit_res_stackplot/example/1x1/svg
diffpy-cmi_fit_res_stackplot/example/1x2/pdf
diffpy-cmi_fit_res_stackplot/example/1x2/png
diffpy-cmi_fit_res_stackplot/example/1x2/svg
diffpy-cmi_fit_res_stackplot/example/1x4/pdf
diffpy-cmi_fit_res_stackplot/example/1x4/png
diffpy-cmi_fit_res_stackplot/example/1x4/svg
diffpy-cmi_fit_res_stackplot/example/1x6/pdf
diffpy-cmi_fit_res_stackplot/example/1x6/png
diffpy-cmi_fit_res_stackplot/example/1x6/svg

# diffraction_plot
diffraction_plot/example/pdf
diffraction_plot/example/png

# fgr_res_to_gr
fgr_res_to_gr/example/gr

# gr_plot
gr_plot/example/pdf
gr_plot/example/png

# h5_balder_extract
h5_balder_extract/example/npy
h5_balder_extract/example/tif
h5_balder_extract/example/png

# h5_balder_master_merge
h5_balder_master_merge/example/npy
h5_balder_master_merge/example/pdf
h5_balder_master_merge/example/png
h5_balder_master_merge/example/svg

#  h5_extract_write_plot
h5_extract_write_plot/old
h5_extract_write_plot/example/pdf
h5_extract_write_plot/example/png
h5_extract_write_plot/example/xy

# h5_merge_all_write_plot
h5_merge_all_write_plot/example/pdf
h5_merge_all_write_plot/example/png
h5_merge_all_write_plot/example/xy

# iq_fq_gr_stackplots
iq_fq_gr_stackplots/example/pdf
iq_fq_gr_stackplots/example/png
iq_fq_gr_stackplots/example/svg

# iq_fq_gr_stackplots_echem
iq_fq_gr_stackplots_echem/example/pdf
iq_fq_gr_stackplots_echem/example/png
iq_fq_gr_stackplots_echem/example/svg


# iq_sq_fq_gr_plot
iq_sq_fq_gr_plot/example/pdf
iq_sq_fq_gr_plot/example/png
iq_sq_fq_gr_plot/example/svg

# nmf_extract
nmf_extract/example/gr

# nmf_plot
nmf_plot/example/pdf
nmf_plot/example/png
nmf_plot/example/svg

# npy_plot
npy_plot/example/pdf
npy_plot/example/png
npy_plot/example/svg

# operando_pipeline
operando_pipeline/bkg_scale.txt
operando_pipeline/chi
operando_pipeline/chi_bkg
operando_pipeline/chi_bkg_esd
operando_pipeline/chi_bkg_esd_norm
operando_pipeline/chi_calib
operando_pipeline/chi_calib_esd
operando_pipeline/chi_esd
operando_pipeline/chi_esd_norm
operando_pipeline/chi_esd_norm_bkgsub
operando_pipeline/mask_static
operando_pipeline/npt_calib
operando_pipeline/npy_mask
operando_pipeline/pdf
operando_pipeline/png
operando_pipeline/poni_calib
operando_pipeline/svg
operando_pipeline/tif
operando_pipeline/tif_bkg
operando_pipeline/tif_calib

# pdfgui_fit_plot
pdfgui_fit_plot/example/png
pdfgui_fit_plot/example/pdf

# pearson_echem_plot
pearson_echem_plot/example/npy
pearson_echem_plot/example/png
pearson_echem_plot/example/pdf
pearson_echem_plot/example/svg
pearson_echem_plot/example/txt

# pyfai_calibration_integration
pyfai_calibration_integration/example/.ipynb_checkpoints
pyfai_calibration_integration/example/png
pyfai_calibration_integration/example/pdf
pyfai_calibration_integration/example/svg
pyfai_calibration_integration/example/npy/dat_nan_to_zero
pyfai_calibration_integration/example/npy/scan-0921_avg.dat
pyfai_calibration_integration/example/json
pyfai_calibration_integration/example/poni
pyfai_calibration_integration/example/sac_off
pyfai_calibration_integration/example/sac_on

# ras_to_csv_convert_plot
ras_to_csv_convert_plot/csv
ras_to_csv_convert_plot/pdf
ras_to_csv_convert_plot/png
ras_to_csv_convert_plot/ras

# scattdata_esd_normalize
scattdata_esd_normalize_bkgsub/example/N1_MAAK_FPOH_p4/.ipynb_checkpoints/
scattdata_esd_normalize_bkgsub/example/N1_MAAK_FPOH_p4/bkg_esd
scattdata_esd_normalize_bkgsub/example/N1_MAAK_FPOH_p4/bkg_esd_normalized
scattdata_esd_normalize_bkgsub/example/N1_MAAK_FPOH_p4/buf_esd_normalized
scattdata_esd_normalize_bkgsub/example/N1_MAAK_FPOH_p4/csv
scattdata_esd_normalize_bkgsub/example/N1_MAAK_FPOH_p4/data_esd
scattdata_esd_normalize_bkgsub/example/N1_MAAK_FPOH_p4/data_esd_normalized
scattdata_esd_normalize_bkgsub/example/N1_MAAK_FPOH_p4/data_esd_normalized_bkgsub
scattdata_esd_normalize_bkgsub/example/N1_MAAK_FPOH_p4/npy
scattdata_esd_normalize_bkgsub/example/N1_MAAK_FPOH_p4/pdf
scattdata_esd_normalize_bkgsub/example/N1_MAAK_FPOH_p4/png
scattdata_esd_normalize_bkgsub/example/N1_MAAK_FPOH_p4/svg
scattdata_esd_normalize_bkgsub/example/N1_MAAK_FPOH_p4/wl_sdd.txt

scattdata_esd_normalize_bkgsub/example/N6_PXRD_cMOF_p2/.ipynb_checkpoints/
scattdata_esd_normalize_bkgsub/example/N6_PXRD_cMOF_p2/bkg_comma_to_dot
scattdata_esd_normalize_bkgsub/example/N6_PXRD_cMOF_p2/bkg_esd
scattdata_esd_normalize_bkgsub/example/N6_PXRD_cMOF_p2/bkg_esd_normalized
scattdata_esd_normalize_bkgsub/example/N6_PXRD_cMOF_p2/buf_esd_normalized
scattdata_esd_normalize_bkgsub/example/N6_PXRD_cMOF_p2/data_comma_to_dot
scattdata_esd_normalize_bkgsub/example/N6_PXRD_cMOF_p2/data_esd
scattdata_esd_normalize_bkgsub/example/N6_PXRD_cMOF_p2/data_esd_normalized
scattdata_esd_normalize_bkgsub/example/N6_PXRD_cMOF_p2/data_esd_normalized_bkgsub
scattdata_esd_normalize_bkgsub/example/N6_PXRD_cMOF_p2/nxs
scattdata_esd_normalize_bkgsub/example/N6_PXRD_cMOF_p2/pdf
scattdata_esd_normalize_bkgsub/example/N6_PXRD_cMOF_p2/png
scattdata_esd_normalize_bkgsub/example/N6_PXRD_cMOF_p2/svg
scattdata_esd_normalize_bkgsub/example/N6_PXRD_cMOF_p2/wl_sdd.txt

# tif_plot
tif_plot/example/png

# xy_bkg_subtraction
xy_bkg_subtraction/example/.ipynb_checkpoints
xy_bkg_subtraction/example/csv
xy_bkg_subtraction/example/data_all
xy_bkg_subtraction/example/data_bkg-sub
xy_bkg_subtraction/example/data_dummy
xy_bkg_subtraction/example/npy
xy_bkg_subtraction/example/pdf
xy_bkg_subtraction/example/png
xy_bkg_subtraction/example/svg
xy_bkg_subtraction/example/scale.txt

# xy_overview
xy_overview/example/fq/pdf
xy_overview/example/fq/png
xy_overview/example/fq/svg
xy_overview/example/fq/user_inputs.txt
xy_overview/example/gr/pdf
xy_overview/example/gr/png
xy_overview/example/gr/svg
xy_overview/example/gr/user_inputs.txt
xy_overview/example/iq/pdf
xy_overview/example/iq/png
xy_overview/example/iq/svg
xy_overview/example/iq/user_inputs.txt

# xy_overview_echem
xy_overview_echem/example/fq/pdf
xy_overview_echem/example/fq/png
xy_overview_echem/example/fq/svg
xy_overview_echem/example/fq/user_inputs.json
xy_overview_echem/example/gr/pdf
xy_overview_echem/example/gr/png
xy_overview_echem/example/gr/svg
xy_overview_echem/example/gr/user_inputs.json
xy_overview_echem/example/iq/pdf
xy_overview_echem/example/iq/png
xy_overview_echem/example/iq/svg
xy_overview_echem/example/iq/user_inputs.json

# xy_overview_stack
xy_overview_stack/example/fq_gr/pdf
xy_overview_stack/example/fq_gr/png
xy_overview_stack/example/fq_gr/svg
xy_overview_stack/example/gr_gr/pdf
xy_overview_stack/example/gr_gr/png
xy_overview_stack/example/gr_gr/svg
xy_overview_stack/example/iq_fq/pdf
xy_overview_stack/example/iq_fq/png
xy_overview_stack/example/iq_fq/svg

# xy_overview_stack_echem
xy_overview_stack_echem/example/fq_gr/pdf
xy_overview_stack_echem/example/fq_gr/png
xy_overview_stack_echem/example/fq_gr/svg
xy_overview_stack_echem/example/gr_gr/pdf
xy_overview_stack_echem/example/gr_gr/png
xy_overview_stack_echem/example/gr_gr/svg
xy_overview_stack_echem/example/iq_fq/pdf
xy_overview_stack_echem/example/iq_fq/png
xy_overview_stack_echem/example/iq_fq/svg

# xy_overview_echem_t_x_v
xy_overview_echem_t_x_v/example/pdf
xy_overview_echem_t_x_v/example/png
xy_overview_echem_t_x_v/example/svg

# xy_qspace_bkg_scales_subtraction
xy_qspace_bkg_scales_subtraction/example/chi_bkgsub
xy_qspace_bkg_scales_subtraction/example/pdf
xy_qspace_bkg_scales_subtraction/example/png
xy_qspace_bkg_scales_subtraction/example/svg
xy_qspace_bkg_scales_subtraction/example/txt

# xy_stackplot
xy_stackplot/example/fq/pdf
xy_stackplot/example/fq/png
xy_stackplot/example/fq/svg
xy_stackplot/example/iq/pdf
xy_stackplot/example/iq/png
xy_stackplot/example/iq/svg
xy_stackplot/example/gr/pdf
xy_stackplot/example/gr/png
xy_stackplot/example/gr/svg

# xy_stackplot_echem
xy_stackplot_echem/example/tio2_rutile/pdf
xy_stackplot_echem/example/tio2_rutile/png
