# Directories to be ignored.

# gr_plotter
gr_plotter/.ipynb_checkpoints/
gr_plotter/gr
gr_plotter/pdf
gr_plotter/png

# ras-to-csv_converter_plotter
ras-to-csv_converter_plotter/.ipynb_checkpoints
ras-to-csv_converter_plotter/csv
ras-to-csv_converter_plotter/pdf
ras-to-csv_converter_plotter/png
ras-to-csv_converter_plotter/ras

# asc-to-csv_converter_plotter
asc-to-csv_converter_plotter/.ipynb_checkpoints/
asc-to-csv_converter_plotter/asc
asc-to-csv_converter_plotter/csv
asc-to-csv_converter_plotter/pdf
asc-to-csv_converter_plotter/png

# iq_sq_fq_gr_plot
iq_sq_fq_gr_plot/data/
iq_sq_fq_gr_plot/pdf/
iq_sq_fq_gr_plot/png/

# cgr_Ni-fcc-tethole_plot
cgr_Ni-fcc-tethole_plot/cgr/
cgr_Ni-fcc-tethole_plot/pdf/
cgr_Ni-fcc-tethole_plot/pdfgui/
cgr_Ni-fcc-tethole_plot/png/

# cif_cgr_calculator_normalized_unix
cif_cgr_calculator_normalized_unix/cif/
cif_cgr_calculator_normalized_unix/pdf/
cif_cgr_calculator_normalized_unix/png/

# cif_cgr_calculator_plotter_unix
cif_cgr_calculator_plotter_unix/cgr/
cif_cgr_calculator_plotter_unix/cif/
cif_cgr_calculator_plotter_unix/pdf/
cif_cgr_calculator_plotter_unix/png/

# cif_pxrd_calculator_plotter
cif_pxrd_calculator_plotter/cif
cif_pxrd_calculator_plotter/png
cif_pxrd_calculator_plotter/txt

#  h5_extracter_writer_plotter
h5_extracter_writer_plotter/example/
h5_extracter_writer_plotter/h5/
h5_extracter_writer_plotter/pdf/
h5_extracter_writer_plotter/png/
h5_extracter_writer_plotter/xy/

# nmf_plotter
nmf_plotter/data
nmf_plotter/pdf
nmf_plotter/png

# pearson_echem_plotter
pearson_echem_plotter/data
pearson_echem_plotter/png
pearson_echem_plotter/pdf
pearson_echem_plotter/txt
